:root {
  --primary: #3451b2;
  --primary-dark: #203272;
  --secondary: #f04848;
  --accent: #ffc857;
  --bg: #f8fafc;
  --card-bg: #fffefd;
  --text: #202331;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg, #f8fafc);
  color: var(--text, #202331);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
